{% extends 'base_course.html' %}

{% block top_content %}
  <script>
    {# I18N: This is shown to the student in a popup after registration. #}
    var regConfirmationMsg = "{{ gettext('Thank you for registering for the course. Click the Announcements tab for important information.') }}";
    if(window.location.hash == '#registration_confirmation') {
      cbShowMsg(regConfirmationMsg);
      setTimeout(function() {cbHideMsg();}, 20000);
    }
    {# I18N: This is shown to the student in a popup if registrations for the course are not open. #}
    var regClosedMsg = "{{ gettext('Registrations for this course are not open.') }}";
    if(window.location.hash == '#registration_closed') {
      cbShowMsg(regClosedMsg);
      setTimeout(function() {cbHideMsg();}, 20000);
    }
  </script>
  {% include 'summary.html' %}    
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="row">
        <div class="col-md-12 box-title">
          <h3>{{ gettext('Lesmateriaal') }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 box-body">
        <ul>
        {% for unit in units %}
          {% if unit.now_available or is_course_admin %}
            {% if unit.type == 'A' %}
              <li><p class="gcb-top-content">
                {% if not transient_student %}
                  {% if progress[unit.unit_id] > 0 %}
                    <img src="assets/lib/completed.png"
                         alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                         title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                         class="gcb-progress-icon"
                         id="progress-completed-{{unit.unit_id}}">
                  {% else %}
                    <img src="assets/lib/not_started.png"
                         alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                         title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                         class="gcb-progress-icon"
                         id="progress-notstarted-{{unit.unit_id}}">
                  {% endif %}
                {% else %}
                  <span class="gcb-progress-empty"></span>
                {% endif %}
                <a href="assessment?name={{ unit.unit_id }}">{{ unit.title }}</a>

                {% if unit.needs_human_grader %}
                  {% if not unit.now_available and is_course_admin %}
                    (Private)
                  {% endif %}
                  </p></li>
                  <li>
                    <p class="gcb-top-content">
                      <span class="gcb-progress-empty"></span>

                    {% if not transient_student %}
                      {% if unit.review_progress == 2 %}
                        <img src="assets/lib/completed.png"
                             alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                             title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                             class="gcb-progress-icon"
                             id="progress-completed-review-{{unit.unit_id}}">
                      {% elif unit.review_progress == 1 %}
                        <img src="assets/lib/in_progress.png"
                             alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                             title="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                             class="gcb-progress-icon"
                             id="progress-inprogress-review-{{unit.unit_id}}">
                      {% else %}
                        <img src="assets/lib/not_started.png"
                             alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                             title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                             class="gcb-progress-icon"
                             id="progress-notstarted-review-{{unit.unit_id}}">
                      {% endif %}
                    {% endif %}

                    {% if unit.is_submitted %}
                      <a href="reviewdashboard?unit={{ unit.unit_id }}">
                        {% if unit.matcher == 'peer' %}
                          {# I18N: Displayed in the course contents page. Indicates a page to which students can go to review other students' assignments. #}
                          {{ gettext('Review peer assignments') }}
                        {% endif %}
                      </a>
                    {% else %}
                      <span>
                        {% if unit.matcher == 'peer' %}
                          {# I18N: Displayed in the course contents page. Indicates a page to which students can go to review other students' assignments. #}
                          {{ gettext('Review peer assignments') }}
                        {% endif %}
                      </span>
                    {% endif %}

                {% endif %}

            {% elif unit.type == 'U' %}
              <li><p class="gcb-top-content">
                {% if is_progress_recorded and not transient_student %}
                  {% if progress[unit.unit_id] == 2 %}
                    <img src="assets/lib/completed.png"
                         alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                         title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                         class="gcb-progress-icon"
                         id="progress-completed-{{unit.unit_id}}">
                  {% elif progress[unit.unit_id] == 1 %}
                    <img src="assets/lib/in_progress.png"
                         alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                         title="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                         class="gcb-progress-icon"
                         id="progress-inprogress-{{unit.unit_id}}">
                  {% else %}
                    <img src="assets/lib/not_started.png"
                         alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
                         title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
                         class="gcb-progress-icon"
                         id="progress-notstarted-{{unit.unit_id}}">
                  {% endif %}
                {% else %}
                  <span class="gcb-progress-empty"></span>
                {% endif %}

                {% if not transient_student %}
                <a href="unit?unit={{ unit.unit_id }}">
                  {# I18N: A row in the course schedule. #}
                  {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                </a>
                {% else %}
                  {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                {% endif %}
            {% elif unit.type == 'O' %}
              <li>
                <p class="gcb-top-content">
                  <span class="gcb-progress-empty"></span>
                  <a href="{{ unit.href }}"> {{ unit.title }} </a>
            {% else %}
              <li>
                <p class="gcb-top-content">
                  <span class="gcb-progress-empty"></span>
                  Error: unit type not recognized.
            {% endif %}
                {% if not unit.now_available and is_course_admin %}
                  (Private)
                {% endif %}
                </p>
              </li>
          {% else %}
            {% if unit.type == 'A' or unit.type == 'O' %}
              <li>
                <p class="gcb-top-content">
                  <span class="gcb-progress-empty"></span>
                  {{ unit.title }}
                </p>
              </li>
            {% elif unit.type == 'U' %}
              <li>
                <p class="gcb-top-content">
                  <span class="gcb-progress-empty"></span>
                  {# I18N: A row in the course schedule. #}
                  {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                </p>
              </li>
            {% else %}
              <li>
                <p class="gcb-top-content">
                  <span class="gcb-progress-empty"></span>
                  Error: unit type not recognized.
                </p>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        </div>
      </div>
  </div>
</div>
 <div class="col-md-6">
  <div class="box">
    <div class="row">
      <div class="col-md-12 box-title">
        <h3>Jonas Voorzanger</h3>
      </div>
    </div>
    <div class="row box-body">
      <div class="col-md-3">
        <img src="assets/img/Jonas Voorzanger.png" style="width:100px;"/>
      </div>
      <div class="col-md-9">
          De docent van deze online lesmodule over de Energietransitie is Jonas Voorzanger. Na het afronden van zijn Natuurkunde Bachelor aan de Vrije Universiteit, doet hij nu een Natuurkunde Master met een specialisatie op het gebied van energie en duurzaamheid. In samenwerking met een aantal medestudenten heeft hij in 2011 Lesmodule De Energiecrisis ontwikkeld, waarmee studenten nu langsgaan op middelbare scholen om leerlingen bekend te maken met duurzame energie. Jonas' motivatie hiervoor is eenvoudig: een betaalbare, duurzame energievoorziening verhoogt onze kwaliteit van leven.
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
