{% extends 'base_course.html' %}

{% block top_content %}
  <script>
    {# I18N: This is shown to the student in a popup after registration. #}
    var regConfirmationMsg = "{{ gettext('Thank you for registering for the course. Click the Announcements tab for important information.') }}";
    if(window.location.hash == '#registration_confirmation') {
      cbShowMsg(regConfirmationMsg);
      setTimeout(function() {cbHideMsg();}, 20000);
    }
    {# I18N: This is shown to the student in a popup if registrations for the course are not open. #}
    var regClosedMsg = "{{ gettext('Registrations for this course are not open.') }}";
    if(window.location.hash == '#registration_closed') {
      cbShowMsg(regClosedMsg);
      setTimeout(function() {cbHideMsg();}, 20000);
    }
  </script>

{% endblock %}

{% block main_content %}
    <div class="gcb-cols gcb-syllabus schema">
      
      <div class="row gcb-outline schema-custom">
        <div class="panel panel-default schema col-md-5 col-sm-offset-1">
          <div class="panel-body">
            <h1 class="gcb-schedule-headers" style="margin-left:20px;">
              {# I18N: This should be interpreted as a noun. It is the title for the course schedule on the main contents page. #}
              {{ gettext('Lesmateriaal') }}
            </h1>
            <br />
            <ul>
              {% for unit in units %}
                {% if unit.now_available %}
                  {% if unit.type == 'A' %}
                    <li><p class="gcb-top-content">
                      {% if not transient_student %}
                        {% if progress[unit.unit_id] > 0 %}
                          <img src="assets/lib/completed.png"
                               alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                               title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                               class="gcb-progress-icon"
                               id="progress-completed-{{unit.unit_id}}">
                        {% else %}
                          <img src="assets/lib/not_started.png"
                               alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                               title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                               class="gcb-progress-icon"
                               id="progress-notstarted-{{unit.unit_id}}">
                        {% endif %}
                      {% else %}
                        <span class="gcb-progress-empty"></span>
                      {% endif %}
                      <a href="assessment?name={{ unit.unit_id }}">{{ unit.title }}</a>

                      {% if unit.needs_human_grader %}
                        {% if not unit.now_available and is_course_admin %}
                          (Private)
                        {% endif %}
                        </p></li>
                        <li>
                          <p class="gcb-top-content">
                            <span class="gcb-progress-empty"></span>

                          {% if not transient_student %}
                            {% if unit.review_progress == 2 %}
                              <img src="assets/lib/completed.png"
                                   alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                                   title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                                   class="gcb-progress-icon"
                                   id="progress-completed-review-{{unit.unit_id}}">
                            {% elif unit.review_progress == 1 %}
                              <img src="assets/lib/in_progress.png"
                                   alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                                   title="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                                   class="gcb-progress-icon"
                                   id="progress-inprogress-review-{{unit.unit_id}}">
                            {% else %}
                              <img src="assets/lib/not_started.png"
                                   alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                                   title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet submitted') }}"
                                   class="gcb-progress-icon"
                                   id="progress-notstarted-review-{{unit.unit_id}}">
                            {% endif %}
                          {% endif %}

                          {% if unit.is_submitted %}
                            <a href="reviewdashboard?unit={{ unit.unit_id }}">
                              {% if unit.matcher == 'peer' %}
                                {# I18N: Displayed in the course contents page. Indicates a page to which students can go to review other students' assignments. #}
                                {{ gettext('Review peer assignments') }}
                              {% endif %}
                            </a>
                          {% else %}
                            <span>
                              {% if unit.matcher == 'peer' %}
                                {# I18N: Displayed in the course contents page. Indicates a page to which students can go to review other students' assignments. #}
                                {{ gettext('Review peer assignments') }}
                              {% endif %}
                            </span>
                          {% endif %}

                      {% endif %}

                  {% elif unit.type == 'U' %}
                    <li><p class="gcb-top-content">
                      {% if is_progress_recorded and not transient_student %}
                        {% if progress[unit.unit_id] == 2 %}
                          <img src="assets/lib/completed.png"
                               alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                               title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                               class="gcb-progress-icon"
                               id="progress-completed-{{unit.unit_id}}">
                        {% elif progress[unit.unit_id] == 1 %}
                          <img src="assets/lib/in_progress.png"
                               alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                               title="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                               class="gcb-progress-icon"
                               id="progress-inprogress-{{unit.unit_id}}">
                        {% else %}
                          <img src="assets/lib/not_started.png"
                               alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
                               title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
                               class="gcb-progress-icon"
                               id="progress-notstarted-{{unit.unit_id}}">
                        {% endif %}
                      {% else %}
                        <span class="gcb-progress-empty"></span>
                      {% endif %}

                    
                      {% if transient_student %}
                        {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                      {% else %}
                        <a href="unit?unit={{ unit.unit_id }}">
                          {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                        </a>
                      {% endif %}
                        <!-- lessons -->
                        <ul id="lessons_schema">
                        {% for lesson in unit.lessons %}
                            {% if lesson.now_available or is_course_admin %}

                              <li class="les_activiteit {% if page_type == 'unit' and lesson.lesson_id == lesson_id %}active{% endif %}">

                                {% if is_progress_recorded and not transient_student %}
                                  <div class="gcb-progress-icon-holder">
                                    {% if lesson.lesson_id in unit.progress and unit.progress[lesson.lesson_id]['html'] == 2 %}
                                      <img src="assets/lib/completed.png"
                                           alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                                           title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Completed') }}"
                                           class="gcb-progress-icon"
                                           id="progress-completed-{{lesson.lesson_id}}">
                                    {% elif lesson.lesson_id in unit.progress and unit.progress[lesson.lesson_id]['html'] == 1 %}
                                      <img src="assets/lib/in_progress.png"
                                           alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                                           title="{# I18N: Alt text for image representing student progress. #}{{ gettext('In progress') }}"
                                           class="gcb-progress-icon"
                                           id="progress-inprogress-{{lesson.lesson_id}}">
                                    {% else %}
                                      <img src="assets/lib/not_started.png"
                                           alt="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
                                           title="{# I18N: Alt text for image representing student progress. #}{{ gettext('Not yet started') }}"
                                           class="gcb-progress-icon"
                                           id="progress-notstarted-{{lesson.lesson_id}}">
                                    {% endif %}
                                  </div>
                                {% endif %}

                                <div class="gcb-lesson-title-with-progress-schema">
                                  {% if transient_student %}
                                    {{ lesson.title }}
                                  {% else %}
                                    <a href="unit?unit={{ unit.unit_id }}&lesson={{ lesson.lesson_id }}">
                                      {{ lesson.title }}
                                    </a>
                                  {% endif %}
                                </div>

                              {% if not lesson.now_available and is_course_admin %}
                                <span class="gcb-grayed">
                                  (Private)
                                </span>
                              {% endif %}
                              </li>
                            
                            {% else %}
                              <li>
                                {% if page_type == 'unit' and lesson.lesson_id == lesson_id %}
                                  <span class="gcb-grayed-active">
                                {% else %}
                                  <span class="gcb-grayed">
                                {% endif %}

                                  {{ unit.index}}.{{ lesson.index }} {{ lesson.title }}
                                </span>

                                {% if lesson.activity %}
                                  <ul>
                                    <li>
                                      <span class="gcb-progress-empty"></span>
                                      {% if page_type == 'activity' and lesson.lesson_id == lesson_id %}
                                        <span class="gcb-grayed-active">
                                      {% else %}
                                        <span class="gcb-grayed">
                                      {% endif %}

                                        {# I18N: Menu item. #}
                                        {{ gettext('Activity') }}

                                      </span>
                                    </li>
                                  </ul>
                                {% endif %}
                              </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                

                  {% elif unit.type == 'O' %}
                    <li>
                      <p class="gcb-top-content">
                        <span class="gcb-progress-empty"></span>
                        <a href="{{ unit.href }}"> {{ unit.title }} </a>
                  {% else %}
                    <li>
                      <p class="gcb-top-content">
                        <span class="gcb-progress-empty"></span>
                        Error: unit type not recognized.
                  {% endif %}
                      {% if not unit.now_available and is_course_admin %}
                        (Private)
                      {% endif %}
                      </p>
                    </li>
                {% else %}
                  {% if unit.type == 'A' or unit.type == 'O' %}
                    <li>
                      <p class="gcb-top-content">
                        <span class="gcb-progress-empty"></span>
                        {{ unit.title }}
                      </p>
                    </li>
                  {% elif unit.type == 'U' %}
                    <li>
                      <p class="gcb-top-content">
                        <span class="gcb-progress-empty"></span>
                        {# I18N: A row in the course schedule. #}
                        {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                      </p>
                    </li>
                  {% else %}
                    <li>
                      <p class="gcb-top-content">
                        <span class="gcb-progress-empty"></span>
                        Error: unit type not recognized.
                      </p>
                    </li>
                  {% endif %}
                {% endif %}

              {% endfor %}
            </ul>
          </div>
        </div>
<!--
      <div class="col-md-3 messages-wrapper">
          
    
          <div class="message-box welcome-message">
            <div class="close-message-box">x</div>
            <div class="text-welcome-message-box">
                Waar was je? <br> Welkom terug!
            </div>
          </div>
          <div class="message-box last-time">
            <div class="close-message-box">x</div>
            <div class="text-message-box">
              Hier ben je gebleven:
              <ul id="last-time-concept">
                    <li><a href="http://localhost:8080/unit?unit=68&lesson=3">Zonne-energie</a></li>
                </ul>
             </div>
          </div>
          <div class="message-box missing">
            <div class="close-message-box">x</div>
            <div class="text-message-box">  
                Deze lessen wachten nog op jou:  
                <ul id="missing-concept">
                  <li><a href="http://localhost:8080/unit?unit=87&lesson=3">De energietransitie in de praktijk</a> </li>
                  <li><a href="http://localhost:8080/unit?unit=68&lesson=2">Huidige energiemix</a></li>    
                </ul>
            </div>    
          </div>      
      </div>
-->

      </div>
<object id="windmill" data="https://s3.amazonaws.com/energietransitie/windmill.svg">
   <img src="https://s3.amazonaws.com/energietransitie/windmill.png" width="200" height="50">
</object>
     
     
    </div>
     <script type="text/javascript">
         $(document).ready(function(){
           $('.close-message-box').click(function(){
               $(this).parent().hide();
               })
         })        
      </script>
{% endblock %}
