<style type="text/css">
  #student_progress td, #student_progress th , #student_progress thead {

    border: 1px solid;
    padding: 2px 2px 2px 2px;
  }
  .attempt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .col {
    min-width: 30px;
    text-align: left;
    /*white-space: nowrap;*/
    float:left;
    /*width: 10%;*/
    margin: 0px 5px;
    /*display: inline-block;*/
  }
  td:first-child, th:first-child {
    display: none;
  }
  td {
    min-width: 70px;
  }
</style>
<br />
<br />
<div id="student_progress">
<table>
<thead>
    <tr>
      <th colspan="17" style="text-align:center"><b>Studievoortgang </b> </th>
    </tr>
</thead>
<thead>
    <tr>
      <th>Unit</th>
      <th colspan="3" style="text-align:center">{{units[0].title}} </th>
      <th colspan="13" style="text-align:center">{{units[1].title}} </th>
    </tr>
<tr>
  <td>Les</td>
  {% for unit in units %}
    {% for lesson in unit.lessons %}
      <td>
        <h6>
          <small>{{ lesson.title }} </small>
        </h6>
      </td>
    {% endfor %}

{% endfor %}
</tr>
</thead>
    

<!-- {{student.progress.value}}</br> -->
    <tr><td>{{ student.name }}</td>
    {% for unit in units %}
        {% for lesson in unit.lessons %}
            {% set stats = student.progress.get_questions_stats(unit, lesson) %}
            {% if stats[100] %}
            <!-- <td style="background-color:green">
              100% <br /> SCORE = <br /> {{stats[0]}} / {{stats[2]}}
            </td> -->
            {% elif student.progress.value[unit.unit_id|string][lesson.lesson_id|string][0] %}
            <td style="background-color:white">
              <div class="attempt">
              {% for attempt in student.progress.value[unit.unit_id|string][lesson.lesson_id|string] %}
                {% set rowloop = loop %}
                {% set ques_attempt = stats[rowloop.index-1]%}
                <div class='col'>
                {% for question in attempt %}
                  <small>{{ loop.index }}</small>
                      {% if question['correct'] == True %}
                        <span style="color: green">&#10004;</span>
                      {% else %}
                        <span style="color: red">&#10007;</span>
                      {% endif %}
                  <br />
                {% endfor %}
                  <hr />
                  <span {% if ques_attempt[3] %}
                  style="color: green"
                  {% endif %}>
                  {{ques_attempt[0]}}/{{ques_attempt[2]}}
                  
                  </span>
                  <br />
                </div> <!-- col -->
              {% endfor %}
              </div> <!-- attempt -->
              </td>
            {% else %}
              <td style="background-color: #ccbbbb"></td>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tr>
</table>
</div>
<br />
<br />