<div class="row">
<div class="col-xs-12">

<div class="box">
<div class="row">
  <div class="col-xs-12">
    <div class="box-title">
      <h2>{{course_info.course.title}}</h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box-title">
      {{course_info.course.blurb | gcb_tags}}
    </div>
  </div>
  
  {% if video_exists or image_exists %}
  <div class="col-md-6 summary-video">

    {% if video_exists %}
      {# I18N: Alt text for an embedded YouTube video player. #}
      <iframe class="youtube-player" type="text/html" width="430"
          title="{{ gettext('YouTube Video Player') }}"
          height="300" src="{{course_info.course.main_video.url}}"
          frameborder="0" allowfullscreen></iframe>
    {% else%}
      <img height="300"
          alt="{{course_info.course.main_image.alt_text}}"
          src="{{course_info.course.main_image.url}}">
    {% endif %}

  </div>
{% endif %}
</div>

</div>
</div>
</div>
