
{% if video_exists or image_exists %}
  <div class="gcb-col-5 gcb-summary-left">
{% else %}
  <div class="gcb-col-11">
{% endif %}

  <h1 class="gcb-product-headers-large">
    {{course_info.course.title}}
  </h1>

  <p class="gcb-product-headers">
  {{course_info.course.blurb | gcb_tags}}
  </p>

  
  {% if transient_student %}
        {% include 'registration_module.html' %}
      {% endif %}

</div>


{% if video_exists or image_exists %}
  <div class="gcb-col-5 gcb-summary-right">

    {% if video_exists %}
      {# I18N: Alt text for an embedded YouTube video player. #}
      <iframe class="youtube-player" type="text/html" width="430"
          title="{{ gettext('YouTube Video Player') }}"
          height="300" src="{{course_info.course.main_video.url}}"
          frameborder="0" allowfullscreen style="margin-top:80px;"></iframe>
    {% else%}
      <img height="300"
          alt="{{course_info.course.main_image.alt_text}}"
          src="{{course_info.course.main_image.url}}">
    {% endif %}

  </div>
{% endif %}
 
