.gcb-course-image {
  float: left;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.52;
  margin: 0;
  margin-top: -7px;
  padding: 0 12px 0 0;
  text-shadow: 0 1px 1px #fff;
  white-space: nowrap;
}

#gcb-header img {
  padding: 0 3px 0 0;
  position: relative;
  top: 5.4px;
  vertical-align: middle;
  width: 50px;
}

footer {
  text-align: center;
  background-color: white;
  padding: 20px 0;
  display: table !important;
  min-width: 827px;
  width: 100%;
  vertical-align: middle;
  margin-top: 30px;
}

footer div {
  padding: 10px 0;
}

#windmill {
    position: absolute;
    bottom: 70px;
    right: 0px;
    left: -2px;
    z-index: -10;
    opacity: 0.6;
}

.gcb-outline li,
.gcb-outline ul {
  list-style-type: none; 
}
.gcb-outline ul {
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.gcb-outline li {
  padding-left: 10px;
}

.gcb-outline .gcb-top-content {
  font-size: 120%;
}

.gcb-progress-icon-holder,
.gcb-lesson-title-with-progress-schema {
  display: inline;
}
.schema {
  width: 500px !important;
}
.container {
  margin-top: 40px;
}
.gcb-progress-icon {
  width: 10px;
}
.gcb-lesson-title-with-progress {
  display: inline;
}

#questions {
  width: 789px !important;
}

.gcb-lesson-title {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
body {
  background: #f5f5f5 !important;
  position: relative;
}
.lesson-nav {
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  padding-top: 20px;
  padding-bottom: 20px;
}
.box {
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  padding: 0px 20px 30px 20px;
  margin-bottom: 20px;
}
.box-title {
  font-size: 16px;
  margin: 20px 00px;
}
.box-body {
  text-align: justify;
  line-height: 20px;
}
.box li {
  list-style-type: none;
}




.messages-wrapper {
    display: inline-block;
}
.message-box {
    width:100%;
    min-height: 150px;
    border-radius: 19px;
    border: 4px solid;
    margin: 0 20px 20px 20px;
}
.welcome-message {
    background-color:#1994d4;
    border-color: #1A709E; 
    color: #1A709E; 
    
}
.last-time {
    background-color:#E1E2E3;
    border-color:#c4c5c7;
    color:#c4c5c7;
}
#last-time-concept {
    font-size: 15px;
    color: #1994d4;
}
#missing-concept {
    list-style-type:circle;
    font-size: 15px;
    color: gray;
}
.missing {
    background-color: #FF9999; 
    border-color: #FF7373;
    color:#FF7373;
    height:auto !important;

}
.close-message-box{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    padding-bottom: 1px;
    cursor:pointer;

}
.text-message-box{
    color: black;
    font-size: 16px;
    margin:30px 25px 30px 25px;
}
.text-welcome-message-box {
    color:white;
    font-size: 16px;
    text-align:center;
    margin-top:40px;
    line-height: 30px;
}
.summary-video {
    text-align:center;
}
.gcb-unit-title {
    margin: 0px 0px 30px 20px;
}

