.ddq {

  .soldd {
    position: absolute;
    top: -11;
    right: -5;
    background-color: white;
    border: 2px solid red;
    padding: 1px;
    font-size: 11px;
  }
  .top-row { text-align: center; }
  .ui-state-active { background-color: $answer; }

  #question-text {
    padding-top: 5px;
    font-size: 20px; 
  }

  .concept {
    display: inline-block;
    border: 2px dashed $answer;
    margin: 8px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    background-color: white; 
    &.ui-draggable:hover { cursor: pointer; }
    &.ui-state-disabled:hover { cursor: auto; }
    img {
      width: 100px;
      display: block; 
    }
    &.dropped {
      border: 2px solid $answer;
    }
    &.correct {
        border: 2px solid green;
    }
    &.incorrect {
        border: 2px solid red;
    }
  }
  .target {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid #c4c5c7;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: top; 
  }

  #question {
    width: 100%;
    text-align: center; 
  }

  #q-table {
    width: 100%; 
    margin-top: 7px;
  }

  .target-title {
    font-size: 15px;
    line-height: 20px;
    background-color: #c4c5c7;
    padding: 10px 0px; 
  }

  .targets {
    text-align: center; 
  }

  #targets {
    div {
      width: 100%;
      display: inline-block;
      text-align: center;
      border: 1px solid black;
      line-height: 50px;
      cursor: pointer;
      position: relative; 
      &:hover {
        background-color: gray; 
      }
    }
  }

  .left-col {
    width: 100%;
    float: none; }
  
  .right-col {
    display: none;
    width: 236px; 
  }

  #send-button,
  #check-button {
    float: none;
    margin: 0 auto; 
  }

  .target-image { 
     width: 100%; 
     height: 110px;
    }

  #q-text { display: none; }
  #tr-fb { display: none; }
 .table-feedback { height: 100%; }
  #td-fb-next { vertical-align: middle; }
  #concept_img {
    height: 200px; 
  }

  #check_answer {
    margin-top: 20px;
    text-align: center; 
    span {
      color: blue;
      font-weight: bold;
      text-align: center;
      border: 1px blue solid;
      padding: 10px; 
      &:hover { 
        color: white;
        background-color: blue;
        cursor: pointer; 
      }
    }
  }
}

