$ddq-frame-color: #c4c5c7;
.ddq {

  .ddq-title {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
  }

  #top-answer {
    text-align: center;
    margin: 10px auto;
  }

  .actions div {
    margin: 20px auto;
  }

  .ddq-solution {
    position: absolute;
    top: -11;
    right: -5;
    background-color: white;
    border: 2px solid red;
    padding: 1px;
    font-size: 11px;
  }

  .ui-state-active { 
    background-color: $answer; 
  }

  .concept {
    display: inline-block;
    border: 2px dashed $answer;
    margin: 8px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    background-color: white; 
    &.ui-draggable:hover { cursor: pointer; }
    &.ui-state-disabled:hover { cursor: auto; }
    img {
      width: 100px;
      display: block; 
      margin: 0 auto;
    }
    &.dropped {
      border: 2px solid $answer;
    }
    &.correct {
      border: 2px solid green;
    }
    &.incorrect {
      border: 2px solid red;
    }
  }

  .targets {
    text-align: center;
  }

  .target {
    max-width: 300px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid $ddq-frame-color;
    min-height: 400px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    vertical-align: top; 
  }

  .target-title {
    font-size: 15px;
    line-height: 20px;
    background-color: $ddq-frame-color;
    padding: 10px 0px; 
  }

  .target-image { 
    max-width: 100%; 
    background-color: $ddq-frame-color;
    margin-top: 0px;
  }
}



