$green: #FFAE4D;
$red: #FD8900;

.mcq {
  &.option {
    border: 2px;
    color: white;
    font-size: 17px;
    position: relative; 

    div {
      margin: 0px 10px 10px 10px;
      padding: 10px 10px;
      color: black;
      background-color: #E1E2E3;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      width: 95%;
      border: 3px solid white; 
      &.toggleon {
        border: 3px solid black; }
      &.toggleon.correct {
        border: 3px solid #058515 !important;
        }
      &.toggleon.incorrect {
        border: 3px solid #DF3B32 !important;
        }
      &.correct {
        color:#058515;    
            }
      &.incorrect {
        color:#DF3B32;    
            }
      &:hover {
        cursor: pointer; 
      }
      &.disabled {
        background-color: #aaa; 
      }
      .mcq-feedback {
          width: 100%;
          margin: 10px 0 0 0;
          background-color: white;
          text-align: center;
          color: black; 
          text-align: left; 
      }
    }
  }
  
}
