$answer: #E1E2E3;
$answer-hover: #c4c5c7;
$answer-disabled: #EFF0F1;

.tfq {
  &.option {
    border: 2px;
    color: black;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center; 

    div {
      display: inline-block;
      padding: 10px 2.3px;
      margin: 0px 7px;
      background-color: $answer; 
      &.selected,
      &:hover {
        background-color: $answer-hover;
        cursor: pointer; 
      }
    
      &.disabled,
      &.disabled:hover {
        background-color: $answer-disabled;
        cursor: default; 
        text-shadow: none;
      }
    
      &.correct,
      &.incorrect {
        background-color: $answer-hover;
        cursor: default; 
      }
    }
    
  }
  .table-feedback {
    margin-top: 14px; 
  }
  #send-button,{
    margin-bottom: 5px;
    padding: 8px 11px;
    background-color: #c4c5c7;
    width: 50px;
    float: right;
    text-align: center;
    margin-right: 5px; }

#send-button:hover, {
  margin-right: 5px;
  cursor: pointer; }
    
}

