$answer: #FFAE4D;
$answer-hover: #FD8900;
$answer-disabled: #aaa;

.tfq {
  &.option {
    border: 2px;
    color: white;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center; 

    div {
      display: inline-block;
      padding: 10px 0px;
      margin: 0px 7px;
      background-color: $answer;
      text-shadow: 1px 1px #bbb; 
      &.selected,
      &:hover {
        background-color: $answer-hover;
        cursor: pointer; 
      }
    
      &.disabled,
      &.disabled:hover {
        background-color: $answer-disabled;
        cursor: default; 
      }
    
      &.correct,
      &.incorrect {
        background-color: $answer;
        cursor: default; 
      }
    }
    
  }
  .table-feedback {
    margin-top: 14px; 
  }
}

