
.tfq {
  &.option {
    border: 2px;
    font-size: $answer-font-size;
    text-align: center; 

    .answer {
      padding: 10px 2.3px;
      background-color: $tfq-answer; 
      &.selected {
        background-color: $tfq-answer-hover;
        border: 3px solid black;
      }

      &:hover {
        background-color: $tfq-answer-hover;
        cursor: pointer; 
      }
    
      &.disabled,
      &.disabled:hover {
        background-color: $tfq-answer; 
        cursor: default; 
      }   
    }
  }
}

