.tiq #question {
  height: 250px; }

.tiq #q-table {
  height: 100%; }

.tiq #answer {
  width: 100%;
  text-align: center; }

.tiq #textinput {
  width: 80%;
  height: 120px;
  font-size: 14px; }

.tiq #send-button,
.tiq #submit-button {
  float: none;
  margin: 30px auto;
  display: none; }
