{% if stats_calculated %}
  <h3>Enrollment Statistics</h3>
  <ul>
    <li>previously enrolled: {{ unenrolled }}</li>
    <li>currently enrolled: {{ enrolled }}</li>
    <li>total: {{ unenrolled + enrolled }}</li>
  </ul>

  <h3>Assessment Statistics</h3>
  <ul>
    {% for unit in scores %}
      <li>
        {{ unit['key'] }}: completed {{ unit['completed'] }}, average score {{ unit['avg'] }}
      </li>
    {% endfor %}
    <li>
      total: {{ total_records }}
    </li>
  </ul>

  <h3>Student Statistics</h3>
  <br></br>
  <table>
      <tr>
{#
            <th>Student</th>
            {% for m in data[0]['scores'] %}
            <th> {{ m['title'] }} </th>
            {% endfor %}
#}
      </tr>
    {% for d in data%}
      <tr>
            <td>
              {{ d['name'] }} 
            </td>
            {% for ds in d['scores']%}
                <td align="center">
                  {% if ds['completed'] %}
                    {{ ds['score'] }}
                  {% else %}
                    {{ '-' }}
                  {% endif%}
                </td>
            {% endfor %}
      </tr>
    {% endfor %}
   </table>
  <br></br>

  <h3>Unit Statistics</h3>
  <br></br>
  <table class="table">
      <tr>
            <th>Units</th>
{#
            {% for k, v in struct.items() %}
                <th colspan={{ v['lesson_count'] }}> Unit {{ k }} - {{ v['title'] }} </th>
            {% endfor %}
#}
            <th> Total </th>
      </tr>

      <tr>
            <th>Lessons</th>
{#
            {% for k, v in struct.items() %}
                {% for key, val in v['lessons'].items() %}
                    <th> {{ k }}.{{ key }} </th>
                {% endfor %}
            {% endfor %}
#}
            <th> Average </th>
      </tr>
{#
      {% for key, value in att_scores.items() %}
            <tr>
                <th> {{ key }} </th>
                    {% for v in value %}
                        {% if v[1] != 0 %}
                            <td><a href=/dashboard?action=questionary_activity&ref={{v[1]}}>{{ v[0] }}</a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endfor%}
                <th>{{ averages_st[key] }}</th>
            </tr>
      {% endfor %}
#}
      <tr>
        <th> Average per activity </th>
        {% for v in averages_ex %}
            <th> {{ v }} </th>
        {% endfor %}
      </tr>
   </table>
  <br></br>
{% endif %}

{% if errors %}
  <h3>Enrollment and Assessment Statistics -- Errors</h3>
  <ul>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{{ update_message }}

<br><br>
