{% if stats_calculated %}
  <h3>Enrollment Statistics</h3>
  <ul>
    <li>previously enrolled: {{ unenrolled }}</li>
    <li>currently enrolled: {{ enrolled }}</li>
    <li>total: {{ unenrolled + enrolled }}</li>
  </ul>

  <h3>Assessment Statistics</h3>
  <ul>
    {% for unit in scores %}
      <li>
        {{ unit['key'] }}: completed {{ unit['completed'] }}, average score {{ unit['avg'] }}
      </li>
    {% endfor %}
    <li>
      total: {{ total_records }}
    </li>
  </ul>

  <h3>Student Statistics</h3>
  <br></br>
  <table>
      <tr>
            <th>Student</th>
            {% for m in data[2]['scores'] %}
            <th> {{ m['title'] }} </th>
            {% endfor %}
      </tr>
    {% for d in data%}
      <tr>
            <td>
              {{ d['name'] }} 
            </td>
            {% for ds in d['scores']%}
                <td align="center">
                  {% if ds['completed'] %}
                    {{ ds['score'] }}
                  {% else %}
                    {{ '-' }}
                  {% endif%}
                </td>
            {% endfor %}
      </tr>
    {% endfor %}
   </table>
  <br></br>

  <h3>Unit Statistics</h3>
  <br></br>
  <table>
      <tr>
            <th>Units</th>
            {% for s in struct %}
            <th colspan={{ s['lesson_count'] }}> Unit {{ s['id'] }} - {{ s['title'] }} </th>
            {% endfor %}
      </tr>

      <tr>
            <th>Lessons</th>
            {% for s in struct %}
                {% for sl in s['lessons'] %}
                    <th> {{ sl['lesson_unit'] }}.{{ sl['lesson_id'] }} </th>
                {% endfor %}
            {% endfor %}
      </tr>
   </table>
  <br></br>

{% endif %}

{% if errors %}
  <h3>Enrollment and Assessment Statistics -- Errors</h3>
  <ul>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{{ update_message }}

<br><br>
